<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project 4</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<style>
		* { padding: 0; margin: 0; box-sizing: border-box; outline: none; color: inherit; text-decoration: inherit; -webkit-appearance : none; -moz-appearance : none; -webkit-font-smoothing: antialiased; }
		*:not(h1, h2, h3, h4, h5, h6) { font-size: inherit; font-family: inherit; }
		html,
		body { width: 100%; height: 100%; background: #1d1d1d; cursor: crosshair; font-family: sans-serif; }
		#app { width: 100%; height: 100%; overflow: hidden; user-select: none; position: relative; }
		#map { background: #DADADA; position: relative; }
		.youdied { z-index: 100; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.4); text-align: center; padding: 50px; color: #fff; }
		.youdied h1 { margin-bottom: 20px; }
	</style>
</head>
<body>
	<div id="app">
		<!-- My health -->
		<div v-if="me !== null" style="position: absolute; z-index: 40; top: 0; left: 5px; display: flex; background: white; border-radius: 0 0 5px 5px; padding: 10px;">
			<div style="width: 250px; height: 20px; border-radius: 3px; overflow: hidden; background: red;">
				<div style="float: left; height: 20px; background: green;" :style="{ width: me.health + '%' }"></div>
			</div>
			<p style="margin: 0 10px 0 20px;"><i class="fas fa-fire-alt" style="color: indigo;"></i> &nbsp;{{ me.balls.regular }} &nbsp;&nbsp;&nbsp; <i class="fas fa-users" style="color: orange;"></i> &nbsp;{{ Object.keys(map.players).length }}</p>
		</div>
		<div v-else class="youdied">
			<h1>You lost!</h1>
			<p>Refresh the page to start again</p>
		</div>

		<template v-if="map !== null">
			<div id="map" :style="{ width: map.width + 'px', height: map.height + 'px', marginLeft: (moveWindowX - 25) + 'px', marginTop: (moveWindowY - 25) + 'px' }">
				<div class="player"
					 v-for="player in map.players"
					 style="position: absolute; overflow: hidden; z-index: 30; border-radius: 10px;"
					 :style="{ left: player.x + 'px', top: player.y + 'px', background: player.color, transform: 'rotate(' + player.lookingDirection + 'deg)',
					 width: player.width + 'px', height: player.height + 'px' }">
					<div style="width: 12px; height: 12px; background: #1d1d1d; border-radius: 6px; position: absolute; left: 10px; top: 6px;">
						<div style="width: 6px; height: 6px; background: white; border-radius: 3px; position: absolute; left: 3px; top: 1.5px;"></div>
					</div>
					<div style="width: 12px; height: 12px; background: #1d1d1d; border-radius: 6px; position: absolute; right: 10px; top: 6px;">
						<div style="width: 6px; height: 6px; background: white; border-radius: 3px; position: absolute; left: 3px; top: 1.5px;"></div>
					</div>
					<div style="width: 12px; height: 12px; background: #ffc6c3; border-radius: 6px; position: absolute; right: 19px; top: -8px;"></div>
				</div>

				<div class="ball"
					 v-for="ball in map.objects"
					 style="position: absolute; border-radius: 50%; z-index: 25;"
					 :style="{ background: ball.color, left: ball.x + 'px', top: ball.y + 'px', width: ball.width + 'px', height: ball.height + 'px' }">
				</div>
			</div>
		</template>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		window.io = io();
		window._ = _;
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    socket: null,
                    map: null,
					me: null,

					// For sending moving direction
					moveKeys: {
                        up: false,
						right: false,
						down: false,
						left: false
					},

					// Position the player in the middle
                    moveWindowX: 0,
                    moveWindowY: 0,

					// For sending the looking direction
                    lookingDirection: 0,
					updateLookFunction: window._.throttle(() => { this.updateLook(); }, 100)
                }
            },
			mounted() {
                this.socket = window.io;
                this.socket.on('updateMap', this.updateMap);
                this.socket.on('updateMe', this.updateMe);

                document.onkeydown = this.keyDown;
                document.onkeyup = this.keyUp;
                document.onmousemove = this.mouseMove;
                document.onclick = this.mouseClick;
			},
            methods: {
                /*
                 * Server methods
                 */
                updateMap(data) {
					this.map = data;
					this.updateMePosition();
                },
                updateMe(data) {
                    this.me = data;
                },
				updateMePosition() {
                    if(this.me !== null && this.me !== undefined && this.map.players[this.me.id] !== undefined) {
                        this.moveWindowX = -this.map.players[this.me.id].x + (window.innerWidth / 2);
                        this.moveWindowY = -this.map.players[this.me.id].y + (window.innerHeight / 2);
                    }
				},


				/*
				 * Client methods
				 */
				keyDown(event) {
                    switch (event.key) {
                        case "a":
                        case "ArrowLeft":
                            this.moveKeys.left = true;
                            break;
                        case "d":
                        case "ArrowRight":
                            this.moveKeys.right = true;
                            break;
                        case "w":
                        case "ArrowUp":
                            this.moveKeys.up = true;
                            break;
                        case "s":
                        case "ArrowDown":
                            this.moveKeys.down = true;
                            break;
                    }
                    this.socket.emit('move', this.moveKeys);
				},
                keyUp(event) {
                    switch (event.key) {
                        case "a":
                        case "ArrowLeft":
                            this.moveKeys.left = false;
                            break;
                        case "d":
                        case "ArrowRight":
                            this.moveKeys.right = false;
                            break;
                        case "w":
                        case "ArrowUp":
                            this.moveKeys.up = false;
                            break;
                        case "s":
                        case "ArrowDown":
                            this.moveKeys.down = false;
                            break;
                    }
                    this.socket.emit('move', this.moveKeys);
                },
                mouseMove(event) {
                    if(this.me === null || this.me === undefined)
                        return;

                    let x = (event.clientX - (window.innerWidth / 2));
                    let y = (event.clientY - (window.innerHeight / 2));
                    this.lookingDirection = 360 - (180 + (Math.atan2(x, y) * (180.0 / Math.PI)));
                    this.updateLookFunction();
				},
				updateLook() {
                    if(this.me === null || this.me === undefined)
                        return;

                    this.socket.emit('look', this.lookingDirection);
				},
				mouseClick() {
                    if(this.me === null || this.me === undefined)
                        return;

                    this.socket.emit('shoot');
				}
            },
        });
	</script>
</body>
</html>