<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project 4</title>

	<style>
		* { padding: 0; margin: 0; box-sizing: border-box; outline: none; color: inherit; text-decoration: inherit; -webkit-appearance : none; -moz-appearance : none; -webkit-font-smoothing: antialiased; }
		*:not(h1, h2, h3, h4, h5, h6) { font-size: inherit; font-family: inherit; }
		html,
		body { width: 100%; height: 100%; background: #1d1d1d; cursor: crosshair; }
		#app { width: 100%; height: 100%; overflow: hidden; user-select: none; position: relative; }
		#map { background: #DADADA; position: relative; }
	</style>
</head>
<body>
	<div id="app">
		<!-- My health -->
		<div v-if="me !== null" style="position: absolute; z-index: 25; width: 250px; height: 20px; border-radius: 3px; overflow: hidden; top: 10px; left: 10px; background: red;">
			<div style="float: left; height: 20px; background: green;" :style="{ width: me.health + '%' }"></div>
		</div>

		<template v-if="map !== null">
			<div id="map" :style="{ width: map.width + 'px', height: map.height + 'px', marginLeft: moveWindowX + 'px', marginTop: moveWindowY + 'px' }">
				<div class="player"
					 v-for="player in players"
					 style="position: absolute; overflow: hidden; z-index: 20; width: 50px; height: 50px; border-radius: 10px;"
					 :style="{ left: player.x + 'px', top: player.y + 'px', background: player.color, transform: 'translate(-50%, -50%) rotate(' + player.lookingDirection + 'deg)' }">
					<div style="width: 12px; height: 12px; background: #1d1d1d; border-radius: 6px; position: absolute; left: 10px; top: 6px;">
						<div style="width: 6px; height: 6px; background: white; border-radius: 3px; position: absolute; left: 3px; top: 1.5px;"></div>
					</div>
					<div style="width: 12px; height: 12px; background: #1d1d1d; border-radius: 6px; position: absolute; right: 10px; top: 6px;">
						<div style="width: 6px; height: 6px; background: white; border-radius: 3px; position: absolute; left: 3px; top: 1.5px;"></div>
					</div>
					<div style="width: 12px; height: 12px; background: #ffc6c3; border-radius: 6px; position: absolute; right: 19px; top: -8px;"></div>
				</div>

				<div class="object"
					 v-for="object in map.objects"
					 style="position: absolute; border-radius: 50%;"
					 :style="{ background: object.color, left: object.x + 'px', top: object.y + 'px', width: object.width + 'px', height: object.height + 'px' }">
				</div>

				<div class="ball"
					 v-for="ball in map.balls"
					 style="position: absolute; border-radius: 50%;"
					 :style="{ background: ball.color, left: ball.x + 'px', top: ball.y + 'px', width: ball.width + 'px', height: ball.height + 'px' }">
				</div>
			</div>
		</template>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		window.io = io();
		window._ = _;
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    socket: null,
                    map: null,
                    players: {},
					me: null,
					moveKeys: {
                        up: false,
						right: false,
						down: false,
						left: false
					},
                    moveWindowX: 0,
                    moveWindowY: 0,

                    lookingDirection: 0,
					updateLookFunction: window._.throttle(() => { this.updateLook(); }, 100)
                }
            },
			mounted() {
                this.socket = window.io;
                this.socket.on('updateMap', this.updateMap);
                this.socket.on('updateBalls', this.updateBalls);
                this.socket.on('updatePlayers', this.updatePlayers);
                this.socket.on('updateMe', this.updateMe);

                document.onkeydown = this.keyDown;
                document.onkeyup = this.keyUp;
                document.onmousemove = this.mouseMove;
                document.onclick = this.mouseClick;
			},
            methods: {
                updateMap(data) {
					this.map = data;
                },
                updateBalls(data) {
                    this.map.balls = data;
                },
                updatePlayers(data) {
                    this.players = data;
                    this.updateMePosition();
                },
                updateMe(data) {
                    if(data === null)
                        return;

                    this.me = data;
                },
				updateMePosition() {
                    if(this.me !== null && this.me !== undefined) {
                        this.moveWindowX = -this.players[this.me.id].x + (window.innerWidth / 2);
                        this.moveWindowY = -this.players[this.me.id].y + (window.innerHeight / 2);
                    }
				},

				keyDown(event) {
                    switch (event.key) {
                        case "a":
                        case "ArrowLeft":
                            this.moveKeys.left = true;
                            break;
                        case "d":
                        case "ArrowRight":
                            this.moveKeys.right = true;
                            break;
                        case "w":
                        case "ArrowUp":
                            this.moveKeys.up = true;
                            break;
                        case "s":
                        case "ArrowDown":
                            this.moveKeys.down = true;
                            break;
                    }
                    this.socket.emit('move', this.moveKeys);
				},
                keyUp(event) {
                    switch (event.key) {
                        case "a":
                        case "ArrowLeft":
                            this.moveKeys.left = false;
                            break;
                        case "d":
                        case "ArrowRight":
                            this.moveKeys.right = false;
                            break;
                        case "w":
                        case "ArrowUp":
                            this.moveKeys.up = false;
                            break;
                        case "s":
                        case "ArrowDown":
                            this.moveKeys.down = false;
                            break;
                    }
                    this.socket.emit('move', this.moveKeys);
                },
                mouseMove(event) {
                    let x = (event.clientX - (window.innerWidth / 2));
                    let y = (event.clientY - (window.innerHeight / 2));
                    this.lookingDirection = 360 - (180 + (Math.atan2(x, y) * (180.0 / Math.PI)));
                    this.updateLookFunction();
				},
				updateLook() {
                    this.socket.emit('look', this.lookingDirection);
				},
				mouseClick() {
                    this.socket.emit('shoot');
				}
            },
        });
	</script>
</body>
</html>